// @import url('/src/styles/vars.scss');

.container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  a {
    user-select: none;
    // flex-basis: 48px;
    text-decoration: none;
    min-width: 48px;
    height: 48px;
    display: block;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;

    &.pageIndex {
      background-color: var(--white-color);
      color: var(--control-text-color);
      padding: 14px;
      border: 2px solid var(--white-grayed-color);
      border-radius: 8px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      &:hover {
        background-color: var(--white-grayed-color);
      }

      &.active {
        background-color: var(--controls-color);
        color: var(--white-color);
        &:hover {
          opacity: 0.7;
        }
      }
    }

    &.pageNextPrev {
      font-size: 30px;
      background-color: var(--white-color);
      color: var(--controls-color);
      padding-top: 1px;

      &.disabled {
        color: var(--white-grayed-color);
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 640px) {
  .table {
    width: 1000px;
    // max-width: 1000px;
  }
}
