.loader {
  display: inline-block;
  width: 100%;
  height: 100%;

  &:after {
    content: ' ';
    display: block;
    width: 4em;
    height: 4em;
    margin: 8px;
    border-radius: 50%;
    border: 0.6em solid var(--controls-color);
    border-color: var(--controls-color) transparent var(--controls-color) transparent;
    animation: loader 1.2s linear infinite;
  }
}
// }

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
