.container {
}

.containerSearch {
  margin-bottom: 16px;
}

.transactionsTableContainer {
  min-height: 620px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.loaderContainer {
  width: 80px;
  height: 80px;
  align-self: center;
  justify-self: center;
}

.containerPagination {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

@media (max-height: 640px) {
  .transactionsTableContainer {
    min-height: auto;
  }
  .containerSearch {
    margin-bottom: 8px;
  }

  .containerPagination {
    margin-top: 10px;
  }
}
