// @import url('/src/styles/vars.scss');

.container {
  min-width: 441px;
  // height: 48px;
  display: flex;

  .inputContainer {
    width: auto;
    height: 100%;
    border: 1px solid var(--white-grayed-color);
    border-radius: 10px;
    display: flex;

    input {
      outline-offset: -2px;
      height: 48px;
      padding: 8px 8px;
      font: 1rem/1.4 'Montserrat', sans-serif;
      background-color: var(--white-color);
      border: none;
      outline: none;
      transition: outline 0.1s;

      &::placeholder {
        color: var(--controls-grayed-color);
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
      &:focus,
      &:hover {
        outline: 2px solid var(--controls-color);
        border-radius: 10px;
      }
    }

    .separator {
      border-left: 1px solid var(--white-grayed-color);
      height: 32px;
      align-self: center;
    }
  }

  button {
    width: 48px;
    height: 48px;
    display: block;
    margin-left: 12px;
    background: var(--controls-color) url('./images/search.svg') no-repeat center center;
    background-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--white-color);
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
    &:disabled {
      background-color: var(--controls-grayed-color);
    }
  }
}

@media (max-width: 640px) {
  .container {
    min-width: 100%;
    height: auto;
    align-items: center;

    .inputContainer {
      width: 100%;
      flex-direction: column;
      flex: 1;
      .separator {
        display: none;
      }
    }
    input {
      border-bottom: 1px solid var(--white-grayed-color) !important;
    }
  }
}
