:root {
  --controls-color: #3a80ba;
  --controls-grayed-color: #979797;
  --white-color: #ffffff;
  --white-grayed-color: #f1f1f1;
  --error-color: #920101;
  --footer-color: #1c3b55;
  --control-text-color: #1a1a1a;
}
